*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(110, 58, 201);
}
.main{
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    margin: 90px auto 10px;
    padding: 30px;
    border-radius: 10px;
}
.head{
    /* margin: 10px 0; */
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    color: #0A2248;
    font-weight:900;
         
}
.quiz{
    padding: 10px 0;
}
.questions{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color:  rgb(17, 40, 114);;
    padding-bottom: 5px;
}
.btn{
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: none;
    text-align: left;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
.nxtbtn{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #041C4A;
    color: white ;
    border-radius: 3px;
    width:120px;
    margin: 10px auto 0;
    display: none;
    cursor: pointer;
}

.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}